[submodule "NeeLaboratory.IO.Search"]
	path = NeeLaboratory.IO.Search
	url = https://github.com/neelabo/NeeLaboratory.IO.Search.git
[submodule "NeeLaboratory"]
	path = NeeLaboratory
	url = https://github.com/neelabo/NeeLaboratory.git
