<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>

    <ComponentGroup Id="MainComponents" Directory="INSTALLFOLDER">
      <Files Include="!(bindpath.Contents)\**">
          <Exclude Files="!(bindpath.Contents)\RealtimeSearch.exe" />
          <Exclude Files="!(bindpath.Contents)\RealtimeSearch.config.json" />
          <Exclude Files="!(bindpath.Contents)\README.html" />
          <Exclude Files="!(bindpath.Contents)\README.ja-jp.html" />
      </Files>
    </ComponentGroup>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <File Source="!(bindpath.Contents)\RealtimeSearch.exe" Checksum="yes">
        <Shortcut Id="MyMenuShortcut" Directory="ProgramMenuFolder" Name="RealtimeSearch" WorkingDirectory="INSTALLFOLDER" />
      </File>
      <File Source="!(bindpath.Append)\RealtimeSearch.config.json" />
      <File Source="!(bindpath.Append)\README.html"  />
      <File Source="!(bindpath.Append)\README.ja-jp.html" />
      <Component>
        <RegistryValue Root="HKLM" Key="SOFTWARE\NeeLaboratory\RealtimeSearch" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes" />
      </Component>
    </ComponentGroup>

  </Fragment>
</Wix>