<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
  <Fragment>
    
    <StandardDirectory Id="ProgramFiles6432Folder">
      <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
        <Directory Id="INSTALLFOLDER" Name="RealtimeSearch" />
      </Directory>
    </StandardDirectory>
    
    <StandardDirectory Id="ProgramMenuFolder">
    </StandardDirectory>
    
  </Fragment>
</Wix>