<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="RealtimeSearch $(var.ProductVersion)" Version="$(var.BuildVersion)" Language="1041" Codepage="932" Manufacturer="NeeLaboratory" UpgradeCode="{C2084D9A-11E0-4287-B4BD-B99968ECD1CD}">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" SummaryCodepage="932" Comments="product version $(var.BuildVersion)"/>

    <MajorUpgrade DowngradeErrorMessage="新しいバージョンの RealtimeSearch が既にインストール済です。" />
    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="RealtimeSearch" Level="1">
      <ComponentGroupRef Id="ProductComponents" />
    </Feature>

    <!-- インストーラーUI設定 -->
    <!--
    <WixVariable Id="WixUIBannerBmp" Value="Resources\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\dlgbmp.bmp" />
    -->
    <UIRef Id="WixUI_InstallDirEx" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- アドバタイズショートカットを無効にする -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- コントロールパネルに表示されるアプリアイコン -->
    <Property Id='ARPPRODUCTICON'>App.ico</Property>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFilesFolder">
        <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
          <Directory Id="INSTALLFOLDER" Name="RealtimeSearch" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">

      <Component Guid="*">
        <File Source="$(var.ContentDir)RealtimeSearch.exe" KeyPath="yes" Checksum="yes" >
          <Shortcut Id="MyMenuShortcut" Directory="ProgramMenuFolder" Name="RealtimeSearch" WorkingDirectory="INSTALLDIR" Advertise="yes"/>
        </File>
      </Component>
      <Component>
        <File Source="$(var.ContentDir)RealtimeSearch.deps.json" KeyPath="yes" />
      </Component>
      <Component>
        <File Source="$(var.ContentDir)RealtimeSearch.runtimeconfig.json" KeyPath="yes" />
      </Component>
      <Component>
        <File Source="$(var.ContentDir)RealtimeSearch.dll" KeyPath="yes" />
      </Component>
      <Component>
        <File Source="$(var.AppendDir)RealtimeSearch.dll.config" KeyPath="yes" />
      </Component>
      <Component>
        <File Source="$(var.ContentDir)NeeLaboratory.IO.Search.dll" KeyPath="yes" />
      </Component>
      <Component>
        <File Source="$(var.ContentDir)README.html" KeyPath="yes"/>
      </Component>

    </ComponentGroup>

    <!-- icon -->
    <Icon Id="App.ico" SourceFile="$(var.AppendDir)App.ico" />

  </Fragment>
</Wix>