<?xml version="1.0" encoding="UTF-8"?>

<?define Bits = "all" ?>

<?if $(var.Platform) = "x86" ?>
  <?define ProductName = "RealtimeSearch $(var.AppVersion) (x86)" ?>
  <?define UpgradeCode = "AC5AB353-1C33-4166-97D2-70E311211AF9" ?>
  <?define SystemDir = "SystemFolder" ?>
  <?define ProgramFilesDir = "ProgramFilesFolder" ?>
  <?define Win64 = "no" ?>
  <?define IdentName = "RealtimeSearchX86" ?>
  <?define ExeName = "RealtimeSearch (x86)" ?>
<?elseif $(var.Platform) = "x64" ?>
  <?define ProductName = "RealtimeSearch $(var.AppVersion)" ?>
  <?define UpgradeCode = "C2084D9A-11E0-4287-B4BD-B99968ECD1CD" ?>
  <?define SystemDir = "System64Folder" ?>
  <?define ProgramFilesDir = "ProgramFiles64Folder" ?>
  <?define IdentName = "RealtimeSearchX64" ?>
  <?define ExeName = "RealtimeSearch" ?>
  <?define Win64 = "yes" ?>
<?endif ?>

<?if $(var.culture) = "ja-jp" ?>
  <?define codepage = "932" ?>
<?else?>
  <?define codepage = "1252" ?>
<?endif?>

<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="$(var.ProductName)" Version="$(var.ProductVersion)" Language="!(loc.language)" Codepage="$(var.codepage)" Manufacturer="NeeLaboratory" UpgradeCode="$(var.UpgradeCode)">
    <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" SummaryCodepage="$(var.codepage)" Comments="RealtimeSearch is a file search tool." Platform="$(var.Platform)"/>

    <MajorUpgrade DowngradeErrorMessage="!(loc.downgradeErrorMessage)" />

    <MediaTemplate EmbedCab="yes" CompressionLevel="high" />

    <Feature Id="ProductFeature" Title="RealtimeSearch" Level="1" AllowAdvertise="no" Absent="disallow" Display="expand" ConfigurableDirectory="INSTALLFOLDER">
      <ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="MainComponents"/>
    </Feature>

    <Property Id="INSTALLFOLDER">
      <RegistrySearch Id='InstallDirRegistry' Type='raw' Root='HKLM' Key='SOFTWARE\NeeLaboratory\RealtimeSearch' Name='InstallDir'/>
    </Property>


    <!-- UI -->
    <!--
    <UIRef Id="WixUI_MondoEx" />
    -->
    <UIRef Id="WixUI_InstallDirEx" />
    <UIRef Id="WixUI_ErrorProgressText" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />

    <!-- Disable advertise shortcuts -->
    <Property Id="DISABLEADVTSHORTCUTS" Value="1" />

    <!-- The application icon displayed on the control panel -->
    <Property Id='ARPPRODUCTICON'>App.ico</Property>


    <!-- インストーラーUI設定 -->
    <!--
    <WixVariable Id="WixUIBannerBmp" Value="Resources\bannrbmp.bmp" />
    <WixVariable Id="WixUIDialogBmp" Value="Resources\dlgbmp.bmp" />
    -->
    <!--
    <UIRef Id="WixUI_InstallDirEx" />
    <Property Id="WIXUI_INSTALLDIR" Value="INSTALLFOLDER" />
    -->

    <InstallExecuteSequence>
      <RemoveShortcuts>Installed AND NOT UPGRADINGPRODUCTCODE</RemoveShortcuts>
    </InstallExecuteSequence>

  </Product>

  <Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="$(var.ProgramFilesDir)">
        <Directory Id="PFCompanyFolder" Name="NeeLaboratory">
          <Directory Id="INSTALLFOLDER" Name="RealtimeSearch" />
        </Directory>
      </Directory>
      <Directory Id="ProgramMenuFolder">
      </Directory>
    </Directory>
  </Fragment>

  <Fragment>

    <ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
      <Component Guid="*">
        <File Source="$(var.ContentDir)RealtimeSearch.exe" KeyPath="yes" Checksum="yes" >
          <Shortcut Id="MyMenuShortcut" Directory="ProgramMenuFolder" Name="RealtimeSearch" WorkingDirectory="INSTALLFOLDER" Advertise="yes"/>
        </File>
      </Component>
      <Component>
        <File Source="$(var.AppendDir)RealtimeSearch.settings.json" KeyPath="yes" />
      </Component>
      <Component>
        <RegistryValue Root="HKLM" Key="SOFTWARE\NeeLaboratory\RealtimeSearch" Name="InstallDir" Type="string" Value="[INSTALLFOLDER]" KeyPath="yes"/>
      </Component>
    </ComponentGroup>

    <!-- icon -->
    <Icon Id="App.ico" SourceFile="$(var.AppendDir)App.ico" />

  </Fragment>
</Wix>